a,article,aside,audio,b,body,button,canvas,dd,del,detail,details,div,dl,dt,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,img,input,label,legend,li,menu,nav,p,section,span,summary,table,tbody,td,textarea,tfoot,th,thead,tr,ul,video {
	margin: 0;
	padding: 0;
	vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
	display: block
}

blockquote,q {
	quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
	content: '';
	content: none
}

table {
	border-collapse: collapse;
	empty-cells: show;
	font-size: inherit;
	border-spacing: 0
}

a:active,a:link,a:visited {
	outline: 0;
	color: #0366d6;
	text-decoration: none
}

a:hover {
	color: #0360ff;
	text-decoration: none
}

html::-webkit-scrollbar {
	width: 8px;
	height: 8px
}

html::-webkit-scrollbar-thumb {
	height: 40px;
	background-color: #60c729
}

html::-webkit-scrollbar-track-piece {
	background: #000
}

body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #000;
	background: #fff;
	font-family: "Helvetica Neue",Helvetica,Simsun
}

.mask {
	position: fixed;
	z-index: 9999;
	background: #3c9632;
	display: none
}

.mt {
	top: 0
}

.mb,.mt {
	width: 100%;
	height: 10px
}

.mb {
	bottom: 0
}

.ml {
	left: 0
}

.ml,.mr {
	width: 10px;
	height: 100%
}

.mr {
	right: 0
}

main {
	width: 800px;
	height: 100%;
	max-width: 100%;
	margin: 0 auto
}

header,section {
	padding: 15px 15px 0
}

main header h1 {
	font-size: 2.8em;
	text-shadow: 1px 1px 0 #eaeaea
}

header span {
	font-family: Microsoft Jhenghei
}

header span:before {
	content: "#"
}

main .box {
	padding: 10px 15px 0;
	overflow: hidden
}

main nav a {
	font-size: 16px;
	padding: 5px 3px;
	display: -webkit-inline-box;
	text-shadow: 1px 1px 1px #fff;
	font-weight: 700
}

main nav a:after {
	content: " | "
}

main nav a:first-child:before {
	content: " | "
}

main nav a:last-child:after {
	content: " |"
}

footer {
	padding: 8px 15px;
	font-family: "Helvetica Neue",Helvetica,Simsun,Arial,sans-serif
}

footer .ftlinks {
	margin-bottom: 10px
}

footer .ftlinks a {
	font-size: 13px;
	margin-right: 10px
}

footer .ftlinks a:before {
	content: "∘ "
}

.list article {
	font-size: 14px;
	line-height: 30px;
	color: #6b6b6b;
	zoom: 1;
	height: 30px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
	text-shadow: 1px 1px 0 #fff
}

.list article:before {
	display: inline-block
}

.list article .title {
	color: #6b6b6b;
	border-bottom: 1px dotted #6b6b6b
}

.list article .title:hover {
    color: #0366d6;
	border-bottom: 1px dotted #6b6b6b
}

.list article .meta {
	font-size: 12px;
    margin-left:10px;
	font-family: simsun;
}

ol.page-navigator {
	margin: 15px 0 10px;
	padding: 0;
	line-height: 30px
}

ol.page-navigator li {
	display: inline-block;
	padding: 0;
	border: 0;
	background-color: #f5f5f5
}

ol.page-navigator li.prev {
	background-color: #efefef
}

ol.page-navigator li.next {
	background-color: #efefef
}

ol.page-navigator li a {
	display: block;
	padding: 0 10px;
	color: #999;
	font-size: 14px
}

ol.page-navigator li.current a {
	background: #0360ff;
	color: #fff;
	cursor: default
}

ol.page-navigator a:hover {
	background: #e6e6e6;
	color: #000;
	text-decoration: none
}

.post article {
	font-size: 15px;
	line-height: 28px
}
.post .editormd-html-preview {
	width:auto !important;
}

.post header {
	padding: 5px 0
}

.post header h1 {
	font-size: 1.6em;
	text-shadow: none
}

.post header .meta {
	color: #b3b3b3;
	font-size: 12px
}


.post footer {
	padding: 5px 0;
	font-size: 12px
}

.post footer hr {
	height: 0;
	margin-left: 160px;
	margin: 1em auto;
	border: 1px dotted #9E9E9E;
	border-width: 1px 0 0 0
}

.post .post-near {
	list-style: none;
	margin-bottom: 10px
}

.post .post-near li {
	line-height: 28px;
	margin-bottom: 5px
}

#comments .respond .cancel-comment-reply {
	float: right;
	margin-top: 0;
	font-size: 14px
}

#comments .respond a {
	color: #0360ff
}

#comments .widget-title {
	color: #0360ff
}

#comment-form {
	padding-top: 10px;
	font-size: 14px
}

#comment-form input {
	height: 40px;
	line-height: 40px;
	display: inline-block;
	border: 0;
	padding: 0 5px;
	border-radius: 5px;
	background: #f1f1f1;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
	font: inherit;
	-webkit-appearance: none;
	margin-bottom: 10px
}

#comments #author,#comments #mail,#comments #url {
	width: 32.89%
}

#comment-form textarea {
	background: #f1f1f1;
	padding: 10px;
	margin-top: 10px;
	vertical-align: top;
	margin: 0;
	width: 100%;
	line-height: 1.2;
	border: 1px solid #ececec;
	border-radius: 5px;
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
	font: inherit;
	-webkit-appearance: none
}

#comment-form input#submit {
	cursor: pointer;
	background: #0360ff;
	color: #fff;
	border: 1px solid #fff;
	margin: 0 auto;
	border-radius: 5px;
	display: block;
	height: 40px;
	font-size: 16px;
	font-weight: 500;
	font-family: inherit;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out
}

#comment-form #submit.button {
	width: 100%;
	margin-top: .625rem
}

.comments {
	margin-top: 10px
}

.comments h4.title {
	font-size: 16px;
	font-weight: 600;
	margin: 0;
	text-transform: uppercase;
	position: relative
}

.comments .comment-list {
	margin: 0;
	padding: 0;
	list-style: none
}

.comments .comment-list li {
	margin: 10px 0;
	padding: 0;
	border-radius: 3px
}

#comments .comment-author {
	display: block;
	margin-bottom: 5px;
	color: #444;
	font-size: 14px;
	font-weight: 500
}

#comments .comment-author .avatar {
	float: left;
	margin: 0 10px 0 0;
	border-radius: 40px;
	width: 40px;
	height: 40px;
	background-color: #f0f0f0;
	border: 2px solid #d8d8d8
}

#comments .comment-author cite {
	line-height: 12px;
	font-style: normal
}

#comments .comment-list li .comment-reply {
	font-size: 14px;
	font-weight: 500;
	margin-top: 3px;
	position: relative;
	width: 100%;
	margin-bottom: 5px;
	height: 20px;
	text-align: center
}

#comments .comment-list li .comment-reply a {
	color: #fff;
	display: block;
	background: #000;
	border-radius: 3px
}

#comments .comment-list li .comment-reply a:hover {
	background: #0360ff
}

#comments .comment-meta a {
	color: #999!important;
	font-size: 14px;
	font-weight: 400
}

#comments .comment-content {
	overflow: hidden;
	padding: 10px 0 0 0;
	word-wrap: break-word;
	line-height: 20px;
	font-size: 14px
}

#comments .comment-children {
	padding-left: 30px;
	border-left: 5px solid rgba(255,255,255,.08)
}

.water:before {
	content: "多思多金";
	float: right;
	position: fixed;
	right: 20px;
	bottom: 16px;
	font-size: 20px;
	text-shadow: 1px 1px 1px #fff;
	color: #efefef;
	z-index: -9999;
	font-family: Simhei
}

@media screen and (max-width:480px) {
	main .box {
		box-shadow: 0 2px 2px rgba(0,0,0,.1)
	}

	main nav {
		width: 100%;
		white-space: nowrap;
		overflow-x: scroll;
		overflow-y: hidden;
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;
		-webkit-overflow-scrolling: touch;
		text-align: justify;
		line-height: 35px
	}

	main nav::-webkit-scrollbar {
		display: none
	}

	main nav a {
		font-size: 16px;
		padding: 5px 15px;
		margin: 0 5px;
		text-shadow: 1px 1px 1px #fff;
		display: inline;
		background: #eee;
		border-radius: 40px;
		border-bottom: 1px solid #b9b9b9;
		border-right: 1px solid #b9b9b9;
		box-shadow: 1px 1px 15px #eee
	}

	main nav a:after {
		content: none
	}

	main nav a:before {
		content: none
	}

	main nav a:first-child:before {
		content: none
	}

	main nav a:last-child:after {
		content: none
	}

	.post figure img {
		text-align: center;
		margin: 0 auto;
		display: block
	}

	#comments #author,#comments #mail,#comments #url {
		width: 100%
	}
}

